<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/base.css">
    {% block extra_css %}{% endblock %}
    <script src="https://kit.fontawesome.com/683de985a5.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container">
        <div id="navBarContainer"></div>
    </div>

    <script type="module">
        import { displayNavBar } from '../static/js/navBar.js';
        displayNavBar();
    </script>

</body>
</html>