{% extends 'base.html' %}

{% block title %}Your Tasks | Task Manager{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block header_title %}Your Tasks{% endblock %}

{% block content %}
    <div class="newTaskFormContainer">
        <form action="/" method="POST">
            <input type="text" name="taskInput">
            <button type="submit" id="nweTaskButton">Add a new task</button>
        </form>
    </div>

    <hr>

    <div class="showTaskContainer" {% if not tasks %}isEmpty{% endif %} id="showTaskContainer">
        {% if tasks %}
            <ul>
                {% for task in tasks %}
                    <li>{{ task }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="noTaskYet">
                <p>There is no task yet!</p>
            </div>
        {% endif %}
    </div>
{% endblock %}