{% extends 'base.html' %}

{% block title %}Your Tasks | Task Manager{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block header_title %}Your Tasks{% endblock %}

{% block content %}
    <div class="newTaskFormContainer">
        <form action="/" method="POST">
            <input type="text" name="taskInput" placeholder="Enter your new task...">
            <button type="submit" id="newTaskButton"><i class="fas fa-plus"></i></button>
        </form>
    </div>

    <div class="showTaskContainer {% if not tasks %}isEmpty{% endif %}" id="showTaskContainer">
        {% if tasks %}
            <ul>
                {% for task in tasks %}
                    <li>- {{ task }}</li>

                    <form action="{{ url_for('delete', taskId=loop.index0) }}" method="POST">
                        <button type="submit" id="removeTaskButton"><i class="fas fa-minus"></i></button>
                    </form>
                {% endfor %}
            </ul>
        {% else %}
            <div class="noTaskYet">
                <p>There is no task yet!</p>
            </div>
        {% endif %}
    </div>
{% endblock %}